@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<a class="btn btn-success" href="https://localhost:44395/api/Report/Index">Create Report</a>
